.page {
  // max-width: 199px;
  display: none;
  @include mobile {
    overflow: hidden;
    display: none;
  }
  @include tablet {
    overflow: hidden;
    display: none;
  }
  @include desktop {
    padding-bottom: 94px;
    overflow: visible;
    display: block;
  }
}

.items {
  display: flex;

  &__item {
    margin-right: 30px;
    display: block;
  }
  &__item:nth-child(3n) {
    margin-right: 0;
  }
  &__item-title {
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: $primary-body-color;
  }
  &__item-box {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 370px;
    min-height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    position: relative;
  }
}
