.team {
  background-color: $accent-color;
  // padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    // text-align: center;
    background-color: $accent-color;
    // padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    // text-align: center;
    background-color: $accent-color;
    // padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @include tablet {
    margin-bottom: 30px;
  }
  @include desktop {
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}
.description {
  padding-top: 24px;
  padding-bottom: 16px;
  background-color: $primary-body-color;
}

.image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;

  @include tablet {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  & > li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 100%;

    @include tablet {
      @include calc(2, 30px);
    }
    @include desktop {
      @include calc(4, 30px);
    }
  }

  &-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: inherit;
    letter-spacing: inherit;
  }
  &-text {
    font-size: 16px;
    line-height: 1.18;
    color: $secondary-text-color;
  }
  // & .image-li {
  //     margin-bottom: 30px;

  //   @include tablet {
  //     margin-bottom: 0;

  //   }
  //   @include desktop {
  //     margin-bottom: 0;
  //   }
  //   }
}

.social-list {
  background-color: $primary-body-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 122px 24px 122px;

  @include tablet {
    padding: 0 74px 24px 74px;
  }
  @include desktop {
    padding: 0 32px 30px 32px;
  }

  & > .social-icon:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border: none;
  fill: $icon-color;
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $decoration-text-color;
    color: $primary-body-color;
  }
  &:hover .icon,
  &:focus .icon {
    fill: $primary-body-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
