$primary-body-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$decoration-text-color: #2196f3;
$accent-color: #f5f4fa;
$studio-color: #000000;
$solution-color: #2f303a;
$solution-button-color: #188ce8;
$footer-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;

img {
  display: block;
  max-width: 100%;
  height: auto;
}
